{{>licenseInfo}}

package {{invokerPackage}}.citrus.extension;

import org.citrusframework.openapi.OpenApiSpecification;
{{#apiInfo}}
{{#apis}}
import {{package}}.{{classname}};
{{/apis}}
{{/apiInfo}}
import {{invokerPackage}}.citrus.{{prefix}}BeanDefinitionParser;

import org.springframework.beans.factory.xml.NamespaceHandlerSupport;

{{>additionalModelTypeAnnotations}}{{>generatedAnnotation}}{{#discriminator}}{{>typeInfoAnnotation}}{{/discriminator}}{{>xmlAnnotation}}
public class {{prefix}}NamespaceHandler extends NamespaceHandlerSupport {

    {{#apiInfo}}
        {{#apis}}
            {{#-first}}
    private OpenApiSpecification openApiSpecification = OpenApiSpecification.from(
        {{classname}}.class.getResource("{{prefix}}_openApi.yaml"));
            {{/-first}}
        {{/apis}}
    {{/apiInfo}}

@Override
    public void init() {
        {{prefix}}BeanDefinitionParser parser;

        {{#apiInfo}}
        {{#apis}}
        {{#operations}}
        {{#operation}}
        parser = new {{prefix}}BeanDefinitionParser(openApiSpecification, "{{operationId}}", {{classname}}.{{operationIdCamelCase}}RequestActionBuilder.class);
        parser.setConstructorParameters({{#requiredNonBodyParams}}"{{paramName}}"{{^-last}}, {{/-last}}{{/requiredNonBodyParams}});
        parser.setNonConstructorParameters({{#optionalParams}}"{{paramName}}"{{^-last}}, {{/-last}}{{/optionalParams}});
        registerBeanDefinitionParser("{{operationId}}Request", parser);

        {{/operation}}
        {{/operations}}
        {{/apis}}
        {{/apiInfo}}
    }
}
